<ion-header>
    <ion-navbar>
        <ion-title>Seminar</ion-title>

        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>

</ion-header>


<ion-content class="seminar">
    <!--
    <button clear *ngFor="let sl of seminarlist; let i = index" (click)="detailsPage(seminarlist[i])">
        <ion-card>
            <img src="img/event/{{sl.image}}" />
        </ion-card>
    </button>
-->
    <ion-card *ngFor="let sl of seminarlist; let i = index">
        <div>
            <img src="img/advance-card-map-madison.png">
<!--
            <button fab fab-right fab-top class="fab-btn">
                <ion-icon name='pin'></ion-icon>
            </button>
-->
        </div>
        <ion-item>
            <p>{{sl.eventdetail.startdate}}</p>
            <h2>{{sl.eventdetail.name}}</h2>
        </ion-item>
        <ion-item actions>
            <span item-left><strong secondary>Location : </strong>{{sl.eventdetail.location}}</span>
            <button primary clear item-right (click)="seminarShare()">
                <ion-icon name='share'></ion-icon>
            </button>
            <button primary clear item-right (click)="seminarBookmark()">
                <ion-icon name='albums'></ion-icon>
            </button>
        </ion-item>
    </ion-card>
</ion-content>
