.marketplace {
    ion-tabbar {
        background: #99CD4E;

        .tab-button {
            color: #4c4949;
        }
        .tab-button[aria-selected=true] {
            color: $iconcolor;
        }
    }
}
