.marketplace {
    ion-tabbar {
        background-color: $colorbg;
        height: 80px;

        .tab-button {
            color: $activetab;
        }
        .tab-button[aria-selected=true] {
            color: $colortext;
        }
        .tab-button-icon {
            font-size: 4.4rem;
        }
    }
}

.ios {
    ion-tabbar {
        height: 70px;
    }

}
