.marketplace {
    ion-tabbar {
        background-color: $colorbg;

        .tab-button {
            color: $colorlayout;
        }
        .tab-button[aria-selected=true] {
            color: $colortext;
        }
    }
}
