<ion-header>
    <ion-navbar>
        <ion-title>Cinema : {{getcinemadetails.cinemaname}}</ion-title>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>


<ion-content class="movielistbycinema">
    <ion-list>
        <div class="logo">
            <ion-slides id="slider" pager [options]="slideconf">
                <ion-slide *ngFor="let gci of getcinemaimages; let i = index">
                    <img src="img/cinema_images/{{gci.image}}" class="slide-image" onError="this.src='img/misc/default.png'"/>
                </ion-slide>
            </ion-slides>
        </div>
    </ion-list>
    <ion-row *ngFor="let lmv of listmovies; let i = index" [hidden]="i % 3 !==0">
        <ion-col *ngIf="i % 3 === 0 && i < listmovies.length" width-33>
            <ion-card>
                <a clear (click)="watchtrailer(listmovies[i], listmovies[i].moviedetails[0])">
                    <div class="wrapper" [hidden]="listmovies[i].discount == 0">
                        <div class="ribbon-wrapper-color">
                            <div class="ribbon-color discount">Off {{listmovies[i].discount}}%</div>
                        </div>
                    </div>
                    <div class="wrapper" [hidden]="listmovies[i].comingshow == 0">
                        <div class="ribbon-wrapper-color">
                            <div class="ribbon-color">Coming Soon</div>
                        </div>
                    </div>
                    <img src="img/poster_small/{{listmovies[i].image_small}}" onError="this.src='img/misc/default.png'" />
                </a>
                <ion-item actions>
                    <p danger>{{listmovies[i].duration}} min</p>
                    <button primary clear item-right (click)="bookticket(listmovies[i])" [attr.disabled]="listmovies[i].comingshow == 1 ? 'disabled' : null">
                        <ion-icon name="cart"></ion-icon>
                    </button>
                </ion-item>
            </ion-card>
        </ion-col>
        <ion-col *ngIf="i % 3 === 0 && i+1 < listmovies.length" width-33>
            <ion-card>
                <a clear (click)="watchtrailer(listmovies[i+1], listmovies[i+1].moviedetails[0])">
                    <div class="wrapper" [hidden]="listmovies[i+1].discount == 0">
                        <div class="ribbon-wrapper-color">
                            <div class="ribbon-color discount">Off {{listmovies[i+1].discount}}%</div>
                        </div>
                    </div>
                    <div class="wrapper" [hidden]="listmovies[i+1].comingshow == 0">
                        <div class="ribbon-wrapper-color">
                            <div class="ribbon-color">Coming Soon</div>
                        </div>
                    </div>
                    <img src="img/poster_small/{{listmovies[i+1].image_small}}" onError="this.src='img/misc/default.png'" />
                </a>
                <ion-item actions>
                    <p danger>{{listmovies[i+1].duration}} min</p>
                    <button primary clear item-right (click)="bookticket(listmovies[i+1])" [attr.disabled]="listmovies[i+1].comingshow == 1 ? 'disabled' : null">
                        <ion-icon name="cart"></ion-icon>
                    </button>
                </ion-item>
            </ion-card>
        </ion-col>
        <ion-col *ngIf="i % 3 === 0 && i+2 < listmovies.length" width-33>
            <ion-card>
                <a clear (click)="watchtrailer(listmovies[i+2], listmovies[i+2].moviedetails[0])">
                    <div class="wrapper" [hidden]="listmovies[i+2].discount == 0">
                        <div class="ribbon-wrapper-color">
                            <div class="ribbon-color discount">Off {{listmovies[i+2].discount}}%</div>
                        </div>
                    </div>
                    <div class="wrapper" [hidden]="listmovies[i+2].comingshow == 0">
                        <div class="ribbon-wrapper-color">
                            <div class="ribbon-color">Coming Soon</div>
                        </div>
                    </div>
                    <img src="img/poster_small/{{listmovies[i+2].image_small}}" onError="this.src='img/misc/default.png'" />
                </a>
                <ion-item actions>
                    <p danger>{{listmovies[i+2].duration}} min</p>
                    <button primary clear item-right (click)="bookticket(listmovies[i+2])" [attr.disabled]="listmovies[i+2].comingshow == 1 ? 'disabled' : null">
                        <ion-icon name="cart"></ion-icon>
                    </button>
                </ion-item>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>
