.supplier-details {
    ion-card {
        ion-card-content {
            background-color: $colorlayout;
        }
        h2 {
            font-size: 2.2rem;
            text-transform: uppercase;
            color: $colorbg;
            text-align: center;
        }
        ion-list {
            button {
                font-size: 1.8rem;
            }
        }
        ion-label {
            line-height: 25px;
        }
        ion-col[width-75] {
            color: $colorlist;
        }
        ion-col[width-25] {
            font-weight: 700;
        }
    }
    ion-row {
        font-size: 16px;

        ion-col {
            white-space: normal;
            a {
                text-decoration: none;
            }
        }
    }

    ion-card.itemdetails {
        ion-item {
            h3 {
                font-size: 20px;
                white-space: initial;
                line-height: 30px;
                font-weight: 700;
                margin-bottom: 10px;
            }

            p {
                white-space: pre-line;
                line-height: 20px;
                margin-bottom: 20px;
            }
        }
    }

    ion-card h3 {
        font-size: 16px;
        font-weight: 700;
    }

    ion-list.listitems {
        button {
            background-color: $colortext;

            p {
                font-size: 1.5rem;
            }
        }
    }
    .item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        box-shadow: none;
    }
}
