.supplier-details {
    ion-card-content {
        background-color: #41484e;
    }
    ion-card h2 {
        font-size: 2.2rem;
        text-transform: capitalize;
        color: #51ffb9;
    }
    ion-label {
        line-height: 25px;
    }
    ion-row {
        font-size: 14px;

        ion-card {
            margin: 2px 10px;

            ion-item.item {
                background-color: #d8d8d8;

                p {
                    color: #124698;
                    font-weight: 700;
                    text-align: center;
                }
            }
        }

        ion-col {
            white-space: normal;
            a {
                text-decoration: none;
            }
        }
        button {
            height: inherit;
            .input-wrapper {
                flex: initial;
                width: 95%;
            }
            ion-label {
                white-space: normal;

                h3 {
                    font-size: 16px;
                    color: $themebg;
                    font-weight: 700;
                    text-transform: capitalize;
                }
            }
        }
    }
    ion-card.itemdetails {
        ion-item {
            h3 {
                font-size: 20px;
                white-space: initial;
                line-height: 30px;
                font-weight: 700;
                margin-bottom: 10px;
            }

            p {
                white-space: pre-line;
                line-height: 20px;
                margin-bottom: 20px;
            }
        }
        ion-list {
            .input-wrapper {
                font-size: small;
            }
        }
    }

    ion-list.listitems {
        button {
            background-color: #c9e6ff;

            p {
                color: black;
            }
        }

        .item .item-inner {
            border-color: #64add4;
        }
    }
}
