.about {
    ion-card p.card-style-title {
        position: absolute;
        top: 25%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: $colortext !important;
    }
    ion-card p.card-style-subtitle {
        font-size: 1.3em;
        position: absolute;
        top: 50%;
        width: 100%;
        font-weight: bold;
        color: #FFF23D !important;
    }
    .card-style {
        position: relative;
        text-align: center !important;
        margin: 5px;
        width: calc(100% - 10px);

        img {
            filter: brightness(60%);
        }
    }
    .item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        box-shadow: none;
    }
}
