.mytradeshow {
    .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }
    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
    }
    button {
        height: initial;
        padding: 0;
        margin: 0.4rem 0;

        ion-card {
            width: calc(100% - 10px);
            border-radius: 5px;
            margin: 0;
            position: relative;
            text-align: center;
            box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);
        }
    }
    .allevent {
        .item {
            padding: 0 16px;

            ion-label {
                margin: 13px 0;
                text-align: center;
            }
            .item-inner {
                padding: 0;
            }
        }
        ion-item {
            border-top: 1px outset;

            span {
                width: 70%;
                font-size: 1.2rem;
                font-weight: normal;
                text-transform: capitalize;
            }

            h2 {
                color: $themebg;
                font-weight: 700;
                font-size: 25px;
                white-space: normal;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                text-transform: capitalize;
                overflow: hidden;
            }

            .button-inner {
                margin-right: 10px;
                margin-left: 5px;
            }
        }
    }

}
