.cinema {
//    ion-card.cinema-card {
//        margin: 5px;
//        width: calc(100% - 10px);
//
//        p {
//            font-size: 18px !important;
//        }
//        .movieshow-btn {
//            position: relative;
//        }
//    }
//    button[fab].fab-map {
//        top: calc(100% - 35px);
//        z-index: 50;
//    }
//    .item-bold {
//        font-weight: bold;
//    }
//    .halldesc {
//        font-size:11px;
//
//        [item-left] {
//            margin: 9px 4px 9px 0;
//        }
//    }
//    ion-icon[item-left] + .item-inner {
//        margin: 10px;
//    }
    ion-card p.card-style-subtitle {
        font-size: 1.5em;
        position: absolute;
        top: 45%;
        width: 100%;
        font-weight: bold;
        color: #4fff33 !important;

        span {
            color: #fff;
        }
        span.letter {
            color: #6f9bff;
        }
    }
    button[fab].fab-map {
        top: calc(100% - 90px);
        z-index: 50;
    }
    .card-style {
        position: relative;
        text-align: center !important;
        margin: 5px;
        width: calc(100% - 10px);

        img {
            filter: brightness(60%);
        }
    }
    ion-card p.card-style-title {
        position: absolute;
        top: 28%;
        font-size: 2.5em;
        width: 100%;
        font-weight: bold;
        color: #fff !important;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 0 40px;
    }
    ion-card button.card-style-details {
        position: absolute;
        bottom: 0;
        font-size: 0.8em;
        width: 25%;
        right: 0.4em;
    }
    ion-item.item {
        background-color: #0e0c0e;
        color: #fff;

        p {
            color: #FFF23D;
            width: 80%;
        }

        ion-icon[item-left] + .item-inner {
            margin-left: 15px;
        }
    }
}
