<ion-header>
    <ion-navbar>
        <ion-title>Fast Ticket</ion-title>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>


<ion-content class="fastticket">
    <ion-list>
        <div class="logo">
            <ion-slides id="slider" pager [options]="slideconf">
                <ion-slide *ngFor="let cml of currentmovieslist; let i = index">
                    <a clear (click)="watchtrailer(currentmovieslist[i], cml.moviedetails[0])">
                        <div class="wrapper" [hidden]="cml.discount == 0">
                            <div class="ribbon-wrapper-color">
                                <div class="ribbon-color">Off {{cml.discount}}%</div>
                            </div>
                        </div>
                        <img src="img/poster_land/{{cml.image_land}}" onError="this.src='img/misc/default.png'"/>
                    </a>
                </ion-slide>
            </ion-slides>
        </div>
        <ion-item>
            <ion-label>Movie name</ion-label>
            <ion-select [(ngModel)]="selectedmovies" (ionChange)="movieChange(selectedmovies)">
                <ion-option value="" disabled selected>Select your movie</ion-option>
                <ion-option *ngFor="let mvdd of selectionmoviesDD" [value]="mvdd.movieid">{{mvdd.moviename}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Cinema</ion-label>
            <ion-select [(ngModel)]="selectedcinema" (ionChange)="cinemaChange(selectedcinema)" [disabled]="selectedmovies === '' ? true : false">
                <ion-option value="" disabled selected>Select your cinema</ion-option>
                <ion-option *ngFor="let cndd of selectioncinemasDD" [value]="cndd.cinemaid">{{cndd.cinemaname}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Watch date</ion-label>
            <ion-select [(ngModel)]="selecteddate" (ionChange)="dateChange(selecteddate)" [disabled]="selectedcinema === '' ? true : false">
                <ion-option value="" disabled selected>Select your watch date</ion-option>
                <ion-option *ngFor="let dtdd of selectiondatesDD" [value]="dtdd.scheduledateid">{{dtdd.scheduledate}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Watch time</ion-label>
            <ion-select [(ngModel)]="selectedtime" (ionChange)="timeChange(selectedtime)" [disabled]="selecteddate === '' ? true : false">
                <ion-option value="" disabled selected>Select your watch time</ion-option>
                <ion-option *ngFor="let tmdd of selectiontimeDD" [value]="tmdd.showseatsid">{{tmdd.time}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Total ticket</ion-label> <!--!-->
            <ion-select [(ngModel)]="selectedticket" (ionChange)="ticketchange(selectedticket)" [disabled]="selectedtime === '' ? true : false">
                <ion-option value="" disabled selected>Select your ticket</ion-option>
                <ion-option value="1">1 person</ion-option>
                <ion-option value="2">2 person</ion-option>
                <ion-option value="3">3 person</ion-option>
                <ion-option value="4">4 person</ion-option>
            </ion-select>
        </ion-item>

        <div padding>
            <button block [disabled]="selectedticket === '' ? true : false" (click)="selectseats()">Select Seat</button>
        </div>
    </ion-list>
</ion-content>
