.sidemenu {
    .toolbar {
        height: 270px;
        padding: 0;

        div {
            padding-top: 0;

            p {
                margin-bottom: 25px;
            }
        }

        button {
            margin: 0;
            height: 5em;
        }

        ion-segment {
            position: inherit;
            .segment-button {
                color: #4c4949;
                height: 7.5rem;
                line-height: 2.2rem;
                border-bottom-style: none;

                ion-badge {
                    display: block;
                    width: 25px;
                    position: absolute;
                    right: 30px;
                    background-color: #f53838;
                }
            }
            .segment-button.activated, .segment-button.segment-activated {
                border-color: #0e34dc;
                color: #fff;
                border-bottom-style: none;
            }
            ion-label {
                margin: 0;
            }
        }
    }
    ion-toolbar {
        img {
            max-width: 60px;
            border-radius: 50%;
        }
    }
    scroll-content {
        background: $iconcolor;
        .item {
            min-height: 7.4rem;
        }
        ion-list {
            .item:first-child {
                border-top: 1px solid #333;
            }
            .item-inner {
                border-bottom: 1px solid #626D71;
            }
            .item:last-child {
                border-bottom: 1px solid #626D71;
            }
        }
    }
}
.toolbar-background {
    background: $themebg;
}
.toolbar-title {
    color: $iconcolor;
    width: 90%;
    text-transform: capitalize;
}
.bar-button-default {
    color: $iconcolor;
}
scroll-content {
    //    background: url('../../img/misc/layout_bg.jpg');
    //    background-size: contain;
    background: rgba(177, 212, 237, 1);
    background: -moz-linear-gradient(left, rgba(177, 212, 237, 1) 0%, rgba(101, 161, 210, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(177, 212, 237, 1)), color-stop(100%, rgba(101, 161, 210, 1)));
    background: -webkit-linear-gradient(left, rgba(177, 212, 237, 1) 0%, rgba(101, 161, 210, 1) 100%);
    background: -o-linear-gradient(left, rgba(177, 212, 237, 1) 0%, rgba(101, 161, 210, 1) 100%);
    background: -ms-linear-gradient(left, rgba(177, 212, 237, 1) 0%, rgba(101, 161, 210, 1) 100%);
    background: linear-gradient(to right, rgba(177, 212, 237, 1) 0%, rgba(101, 161, 210, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1d4ed', endColorstr='#65a1d2', GradientType=1);
}

body.ios {
    div > p {
        margin-bottom: 15px !important;
    }
    .segment-button {
        height: 5.5rem !important;
        border-bottom-style: solid !important;

        ion-badge {
            right: 10px !important;
        }
    }
    .segment-button.activated, .segment-button.segment-activated {
        border-bottom-style: solid !important;
    }
}
