.sidemenu {
    .toolbar {
        height: 340px;
        padding: 0;

        div {
            padding-top: 0;

            p {
                margin-bottom: 25px;
            }
        }

        button {
            margin: 0;
            height: 6.5em;
        }
    }
    ion-toolbar {
        img {
            max-width: 90px;
            border-radius: 50%;
        }
        h6 {
            color: #fff;
            font-size: 2.0rem;
        }
    }
    ion-label {
        font-size: large;
    }
    scroll-content {
        background: #343434;
        .item {
//            min-height: 5.4rem;
            background-color: #343434;
            color: #fff;
            font-size: 2.0rem;

            ion-icon {
                font-size: 4.0rem;
            }
        }
        ion-list {
            margin: 0;

            .item:first-child {
//                border-top: 1px solid #333;
                border-top: none;
            }
            .item-inner {
                border-bottom: none;
            }
            .item:last-child {
                border-bottom: none;
            }
            ion-list-header {
                color: #f7f7f7;
                background-color: #1c2127;
            }

            button {
                ion-icon[item-left] {
                    color: #99CD4E;
                }

                .home {
                    background-color: black;
                }
            }

            .button_active {
                background-color: #7f8674;
            }

            ion-badge {
                background-color: #99CD4E;
            }
        }
    }
}
.toolbar-background {
    background: #99CD4E;
//    background: #00c6ff; /* fallback for old browsers */
//    background: -webkit-linear-gradient(to left, #00c6ff , #0072ff); /* Chrome 10-25, Safari 5.1-6 */
//    background: linear-gradient(to left, #00c6ff , #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.toolbar-title {
    color: $iconcolor;
    width: 90%;
    text-transform: capitalize;
}
.bar-button-default {
    color: $iconcolor;
}
.toolbar {
    min-height: 7.0rem;
}
scroll-content {
    background-color: #fff;
}

body.ios {
    div > p {
        margin-bottom: 15px !important;
    }
}
