.sidemenu {
    .toolbar {
        height: 55vh;

        button {
            margin: 0;
            height: 6.5em;
        }
    }
    ion-toolbar {
        img {
            max-width: 90px;
            border-radius: 50%;
        }
        h6 {
            font-size: 1.8rem;
        }
    }
    scroll-content {
        background-color: $colorlayout;

        ion-label {
            font-size: 2.0rem;
        }
        .item {
            background-color: $colorlayout;
            color: $colortext;

            ion-icon {
                font-size: 4.0rem;
            }
        }
        ion-list {
            margin: 0;

            .item:first-child {
                border-top: none;
            }
            .item-inner, .item:last-child {
                border-bottom: none;
            }
            .button_active {
                background-color: $activebtn;
            }

            ion-badge {
                background-color: $colorbg;
            }
        }
    }
}
.toolbar-background {
    background: $colorbg;
}
.toolbar-title {
    color: $colortext;
    width: 90%;
    text-transform: capitalize;
}
.bar-button-default {
    color: $colortext;
}
.toolbar {
    min-height: 7.0rem;
}
scroll-content {
    background-color: $colortext;
}
