.buyer {
    scroll-content {
        margin: 10vh 0;
    }
    ion-list {
        margin: 0;
    }
    .item {
        h2 {
            width: 90%;
            font-weight: 700;
            white-space: nowrap;
            text-transform: capitalize;
            overflow: hidden;
            text-overflow: ellipsis
        }
        ion-thumbnail[item-left] {
            margin: 10px 0;
        }
        ion-thumbnail {
            min-width: 7rem;
            min-height: 6rem;

            img {
                max-width: 6rem;
                max-height: 5rem;

            }
        }
    }
}
