<ion-header>
    <ion-navbar>
        <ion-title>{{getmoviecategories}}</ion-title>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content class="categorymovies">
    <ion-row *ngFor="let mbc of moviesbycategories; let i = index" [hidden]="i % 3 !==0">
        <ion-col *ngIf="i % 3 === 0 && i < moviesbycategories.length" width-33>
            <ion-card>
                <a clear (click)="watchtrailer(moviesbycategories[i].movieitems, moviesbycategories[i].moviedetails[0])">
                    <div class="wrapper" [hidden]="moviesbycategories[i].discount == 0">
                        <div class="ribbon-wrapper-color">
                            <div class="ribbon-color discount">Off {{moviesbycategories[i].discount}}%</div>
                        </div>
                    </div>
                    <div class="wrapper" [hidden]="moviesbycategories[i].comingshow == 0">
                        <div class="ribbon-wrapper-color">
                            <div class="ribbon-color">Coming Soon</div>
                        </div>
                    </div>
                    <img src="img/poster_small/{{moviesbycategories[i].movieitems.image_small}}" onError="this.src='img/misc/default.png'" />
                </a>
                <ion-item actions>
                    <p danger>{{moviesbycategories[i].movieitems.duration}} min</p>
                    <button primary clear item-right (click)="bookticket(moviesbycategories[i].movieitems)" [attr.disabled]="moviesbycategories[i].comingshow == 1 ? 'disabled' : null">
                        <ion-icon name="cart"></ion-icon>
                    </button>
                </ion-item>
            </ion-card>
        </ion-col>
        <ion-col *ngIf="i % 3 === 0 && i+1 < moviesbycategories.length" width-33>
            <ion-card>
                <a clear (click)="watchtrailer(moviesbycategories[i+1].movieitems, moviesbycategories[i+1].moviedetails[0])">
                    <div class="wrapper" [hidden]="moviesbycategories[i+1].discount == 0">
                        <div class="ribbon-wrapper-color">
                            <div class="ribbon-color discount">Off {{moviesbycategories[i+1].discount}}%</div>
                        </div>
                    </div>
                    <div class="wrapper" [hidden]="moviesbycategories[i+1].comingshow == 0">
                        <div class="ribbon-wrapper-color">
                            <div class="ribbon-color">Coming Soon</div>
                        </div>
                    </div>
                    <img src="img/poster_small/{{moviesbycategories[i+1].movieitems.image_small}}" onError="this.src='img/misc/default.png'" />
                </a>
                <ion-item actions>
                    <p danger>{{moviesbycategories[i+1].movieitems.duration}} min</p>
                    <button primary clear item-right (click)="bookticket(moviesbycategories[i+1].movieitems)" [attr.disabled]="moviesbycategories[i+1].comingshow == 1 ? 'disabled' : null">
                        <ion-icon name="cart"></ion-icon>
                    </button>
                </ion-item>
            </ion-card>
        </ion-col>
        <ion-col *ngIf="i % 3 === 0 && i+2 < moviesbycategories.length" width-33>
            <ion-card>
                <a clear (click)="watchtrailer(moviesbycategories[i+2].movieitems, moviesbycategories[i+2].moviedetails[0])">
                    <div class="wrapper" [hidden]="moviesbycategories[i+2].discount == 0">
                        <div class="ribbon-wrapper-color">
                            <div class="ribbon-color discount">Off {{moviesbycategories[i+2].discount}}%</div>
                        </div>
                    </div>
                    <div class="wrapper" [hidden]="moviesbycategories[i+2].comingshow == 0">
                        <div class="ribbon-wrapper-color">
                            <div class="ribbon-color">Coming Soon</div>
                        </div>
                    </div>
                    <img src="img/poster_small/{{moviesbycategories[i+2].movieitems.image_small}}" onError="this.src='img/misc/default.png'" />
                </a>
                <ion-item actions>
                    <p danger>{{moviesbycategories[i+2].movieitems.duration}} min</p>
                    <button primary clear item-right (click)="bookticket(moviesbycategories[i+2].movieitems)" [attr.disabled]="moviesbycategories[i+2].comingshow == 1 ? 'disabled' : null">
                        <ion-icon name="cart"></ion-icon>
                    </button>
                </ion-item>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>
