.home {
    ion-slides {
        height: initial;
        button {
            border-radius: 5px;
        }
    }
    ion-card.menubtn {
        img {
            filter: brightness(75%);
            height: 47vh;
        }
    }

    .card-title {
        position: absolute;
        top: 22%;
        font-size: 2.7em;
        width: 100%;
        text-align: center;
    }
    .card-subtitle {
        font-size: 1.5em;
        position: absolute;
        top: 40%;
        text-align: center;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 10%;
        flex: 0 0 10%;
        white-space: normal;
        text-transform: capitalize;
        padding: 20px;
    }
    button {
        height: initial;
        padding: 0;
        margin: 0;

        ion-card {
            width: calc(100% - 10px);
            border-radius: 5px;
            margin: 0.5rem 0;
            position: relative;
            text-align: center;
            box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3)
        }
    }
    .eventcoming {
        .item {
            padding: 0 10px;
            text-align: center;

            ion-label {
                margin: 13px 0;
            }

            .item-inner {
                padding: 0;
            }
        }
        ion-item {
            background-color: $colorbg;

            h3 {
                color: $colortext;
                font-size: 1.7rem;
                white-space: normal;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                text-transform: capitalize;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    .swiper-slide img {
        height: 25vh;
    }
}
