<ion-header>
    <ion-navbar>
        <ion-title>MREPC Menu</ion-title>

        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-buttons end>
            <button (click)="useraccountPage()">
                <ion-icon ios="ios-person" md="md-person"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="home">
<!--    <ion-spinner name="bubbles"></ion-spinner>-->
    <ion-slides pager [options]="homeOptions">
        <ion-slide *ngFor="let ce of comingsoonevent; let i = index;">
            <button clear (click)="tradeshowspage(comingsoonevent[i])">
                <ion-card class="eventcoming">
                    <div>
                        <img src="img/event/{{ce.image}}" onError="this.src='img/no-image_event.jpg'"/>
                    </div>
                    <ion-item>
                        <h2>{{comingsoonevent[i].eventdetail.name}}</h2>
                        <p>{{comingsoonevent[i].eventdetail.startdate}}</p>
                    </ion-item>
                </ion-card>
            </button>
        </ion-slide>
    </ion-slides>
    <button clear *ngFor="let mm of mastermenu; let i = index" (click)="openmenuPage(i)">
        <ion-card class="menubtn">
            <img [src]="mm.image" />
            <p class="card-title">{{mm.featuredmenu}}</p>
            <p class="card-subtitle">Official organization for the promotion of Malaysian rubber and rubber-based products</p>
        </ion-card>
    </button>
</ion-content>
