.tradeshowdetails {
    ion-card {
        h1 {
            color: $textcolor;
            padding: 0 0 20px;
            text-transform: capitalize;
        }
        ion-item.item{
            padding-left: 8px;
        }
    }
    ion-card-content {
        h5 {
            line-height: 30px;
            font-weight: bold;
        }
        p {
            white-space: pre-line;
        }
    }
    ion-row {
        padding: 5px;
        ion-col {
            padding: 0;
            ion-icon {
                color: #00b6f1;
                margin-right: 10px;
            }
            a {
                text-decoration: inherit;
            }
        }

        p.eventdate {
            color: #088e00;
            font-weight: 700;
        }
    }
}
