.tradeshowdetails {
    ion-card {
        h1 {
            background-color: $colorlayout;
            padding: 15px;
//            text-transform: capitalize;
        }
        ion-card-content {
            h5 {
                line-height: 30px;
                font-weight: bold;
            }
            .button {
                text-transform: capitalize;
            }
        }
        ion-label[fixed] {
            min-width: 140px;
        }
    }
    ion-row {
        padding: 5px;
        ion-col {
            padding: 0;

            ion-icon {
                padding-right: 10px;
            }
            a {
                text-decoration: inherit;
            }
        }

        p.eventdate {
            font-weight: 700;
        }
    }
    .item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        box-shadow: none;
    }
}
