<ion-header>

    <ion-navbar>
        <ion-title>Now Showing</ion-title>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>

</ion-header>

<ion-searchbar primary placeholder="Search"></ion-searchbar>

<ion-content class="nowshowing">
    <ion-row *ngFor="let ml of movielist; let i = index" [hidden]="i % 3 !==0">
        <ion-col *ngIf="i % 3 === 0 && i < movielist.length" width-33>
            <ion-card>
                <a clear (click)="watchtrailer(movielist[i], movielist[i].moviedetails[0])">
                    <div class="wrapper" [hidden]="movielist[i].discount == 0">
                        <div class="ribbon-wrapper-color">
                            <div class="ribbon-color">Off {{movielist[i].discount}}%</div>
                        </div>
                    </div>
                    <img src="img/poster_small/{{movielist[i].image_small}}" onError="this.src='img/misc/default.png'" />
                </a>
                <ion-item actions>
                    <p danger>{{movielist[i].duration}} min</p>
                    <button primary clear item-right (click)="bookticket(movielist[i])">
                        <ion-icon name="cart"></ion-icon>
                    </button>
                </ion-item>
            </ion-card>
        </ion-col>
        <ion-col *ngIf="i % 3 === 0 && i+1 < movielist.length" width-33>
            <ion-card>
                <a clear (click)="watchtrailer(movielist[i+1], movielist[i+1].moviedetails[0])">
                    <div class="wrapper" [hidden]="movielist[i+1].discount == 0">
                        <div class="ribbon-wrapper-color">
                            <div class="ribbon-color">Off {{movielist[i+1].discount}}%</div>
                        </div>
                    </div>
                    <img src="img/poster_small/{{movielist[i+1].image_small}}" onError="this.src='img/misc/default.png'" />
                </a>
                <ion-item actions>
                    <p danger>{{movielist[i+1].duration}} min</p>
                    <button primary clear item-right (click)="bookticket(movielist[i+1])">
                        <ion-icon name="cart"></ion-icon>
                    </button>
                </ion-item>
            </ion-card>
        </ion-col>
        <ion-col *ngIf="i % 3 === 0 && i+2 < movielist.length" width-33>
            <ion-card>
                <a clear (click)="watchtrailer(movielist[i+2], movielist[i+2].moviedetails[0])">
                    <div class="wrapper" [hidden]="movielist[i+2].discount == 0">
                        <div class="ribbon-wrapper-color">
                            <div class="ribbon-color">Off {{movielist[i+2].discount}}%</div>
                        </div>
                    </div>
                    <img src="img/poster_small/{{movielist[i+2].image_small}}" onError="this.src='img/misc/default.png'" />
                </a>
                <ion-item actions>
                    <p danger>{{movielist[i+2].duration}} min</p>
                    <button primary clear item-right (click)="bookticket(movielist[i+2])">
                        <ion-icon name="cart"></ion-icon>
                    </button>
                </ion-item>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>
<button fab darklight fab-bottom fab-center (click)="getARapps()" style="z-index:100">
    <ion-icon name='camera' is-active="false"></ion-icon>
</button>
