.buyer-items {
    ion-list {
        margin: 0;
    }
    .item {
        h2 {
            width: 90%;
            white-space: nowrap;
            text-transform: capitalize;
            overflow: hidden;
            text-overflow: ellipsis
        }
    }
}
